In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
df1 = pd.read_csv('data/vina_scalar.csv', index_col=False)
df2 = pd.read_csv('data/pedro_scalar.csv', index_col=False)
#df3 = pd.read_csv('data/scalar.csv', index_col=False)
df4 = pd.read_csv("data/variables_cleaned.csv", index_col=False)

In [3]:
data = pd.merge(df1, df2, left_on='id', right_on='id')
#data = pd.merge(data, df3, left_on='id', right_on='id')
data = pd.merge(data, df4, left_on='id', right_on='id')
data.head()

,id,good_loan,tot_cur_bal,total_rev_hi_lim,mths_since_last_delinq,open_acc,pub_rec,revol_bal,revol_util,total_acc,mths_since_last_major_derog,initial_list_status,term,grade,sub_grade,home_ownership,verification_status,purpose
0,1077501,1,128849.271644,26719.741575,35.030607,3.0,0.0,13648.0,83.7,9.0,42.869693,0,0,0,0,0,0,0
1,1077430,0,128849.271644,26719.741575,35.030607,3.0,0.0,1687.0,9.4,4.0,42.869693,0,1,1,1,0,1,1
2,1077175,1,128849.271644,26719.741575,35.030607,2.0,0.0,2956.0,98.5,10.0,42.869693,0,0,1,2,0,2,2
3,1076863,1,128849.271644,26719.741575,35.000000,10.0,0.0,5598.0,21.0,37.0,42.869693,0,0,1,3,0,1,3
4,1075269,1,128849.271644,26719.741575,35.030607,9.0,0.0,7963.0,28.3,12.0,42.869693,0,0,2,4,0,1,4

In [4]:
data = data.drop(columns='id')
matrix = data.values
y = np.copy(matrix[:,0])
scalar = np.copy(matrix[:,1:len(df1.columns)+len(df2.columns)-2]) #+df3 e -3 no lugar de -2
catg = np.copy(matrix[:,len(df1.columns)+len(df2.columns)-2:]) #+df3 e -3 no lugar de -2
pd.DataFrame(scalar).head()

,0,1,2,3,4,5,6,7,8
0,128849.271644,26719.741575,35.030607,3.0,0.0,13648.0,83.7,9.0,42.869693
1,128849.271644,26719.741575,35.030607,3.0,0.0,1687.0,9.4,4.0,42.869693
2,128849.271644,26719.741575,35.030607,2.0,0.0,2956.0,98.5,10.0,42.869693
3,128849.271644,26719.741575,35.000000,10.0,0.0,5598.0,21.0,37.0,42.869693
4,128849.271644,26719.741575,35.030607,9.0,0.0,7963.0,28.3,12.0,42.869693

In [5]:
scalarray = preprocessing.MinMaxScaler().fit_transform(scalar)
pd.DataFrame(scalarray).head()

,0,1,2,3,4,5,6,7,8
0,0.216542,0.25399,0.350306,0.12,0.0,0.189101,0.653396,0.140351,0.400651
1,0.216542,0.25399,0.350306,0.12,0.0,0.023374,0.073380,0.052632,0.400651
2,0.216542,0.25399,0.350306,0.08,0.0,0.040957,0.768931,0.157895,0.400651
3,0.216542,0.25399,0.350000,0.40,0.0,0.077564,0.163934,0.631579,0.400651
4,0.216542,0.25399,0.350306,0.36,0.0,0.110332,0.220921,0.192982,0.400651

In [6]:
c = []
for i in range(catg.shape[1]):
    m = (catg[:,i]).astype(int)
    n = np.zeros((len(catg), np.max(m)+1))
    n[np.arange(len(catg)), m] = 1
    c.append(n)
trix = c[0]
for i in range(1,len(c)):
    trix = np.concatenate((trix, c[i]), axis=1)
trix[0]

array([1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [7]:
x = np.concatenate((scalarray, trix), axis=1)
x[0,:]

array([0.21654248, 0.25398994, 0.35030607, 0.12      , 0.        ,
       0.18910119, 0.65339578, 0.14035088, 0.40065134, 1.        ,
       0.        , 1.        , 0.        , 1.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 0.        , 0.        , 1.        ,
       0.        , 0.        , 1.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        ])

In [8]:
x.shape

(241545, 76)

In [9]:
np.save('data/x.npy', x)
np.save('data/y.npy', y)